html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/* Antialias text */
* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Import Inter */
@import url('https://rsms.me/inter/inter.css');
html {
	font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
	html {
		font-family: 'Inter var', sans-serif;
	}
}

/* Allow block areas to show/hide content on hover */
.blockArea:hover .showOnBlockAreaHover {
	opacity: var(--block-area-hover-opacity, 1);
}

.showOnBlockAreaHover {
	opacity: 0;
	transition: opacity 0.15s;
}

/* Hide focus rings on content-editables (TipTap) */
[contenteditable]:focus {
	outline: 0px solid transparent;
}

.TipTap h1 {
	margin-block-start: 0rem;
}

.TipTap p {
	line-height: 150%;
}

/* Explain the new methods we're using to fight climate change in:
- climate policy
- climate adaptation
- climate resilience
creating headers and 2 paragraphs for each section */
